@import vars

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

::placeholder
  color: #666

::selection
  background-color: $accent
  color: #fff

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.875
  font-family: $default-font
  overflow-x: hidden
  color: $text
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.img-responsive
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

b, strong
  font-weight: bold

a:hover, a:active, a:focus
  color: inherit
  text-decoration: none

a
  color: $accent
  text-decoration: none

a, li, button
  outline: none!important

ul
  list-style-type: none
  padding: 0
  margin-bottom: 0

// ======= END TEMPLATE STYLES =======

.s-creamy
  background-color: $accent-creamy

.s-white
  background-color: #fff

.s-parallax
  height: 625px

.btn
  line-height: 1
  text-transform: uppercase
  padding: 12px 32px
  +mt(.2s)
  text-align: center
  border: 2px solid transparent
  font-weight: 700
  margin: 0
  cursor: pointer
  white-space: nowrap
  display: inline-block

.btn-pink, .btn-pink:focus, .btn-pink:active
  background-color: $accent
  color: #fff
  &:hover
    color: $accent
    border-color: $accent
    background-color: transparent
  &.disabled
    filter: grayscale(.7)
    &:hover, &:active, &:focus
      background-color: $accent
      color: #fff

.btn-green
  background-color: #49ad37
  color: #fff
  &:hover, &:focus, &:active
    color: #49ad37
    border-color: #49ad37
    background-color: transparent

.btn-rounded
  border-radius: 50px

.parallax-window
  +bg-cover

form
  label
    display: block
    margin-bottom: 20px
  input
    width: 100%
    border: 1px solid #000
    background-color: #fff
    line-height: 1
    padding: 14px 20px
    &::placeholder
      color: #000
    &:focus
      border-color: $accent
    &.error
      border-color: red!important
      color: red!important
      &::placeholder
        color: red!important
  .btn
    font-size: 20px
    width: 100%
    padding: 17px
  .help-block
    display: none

.intro-form
  margin-top: 75px
  width: 445px
  input
    border-color: #868483
    background-color: transparent
    color: #fff
    &::placeholder
      color: #868483
    &:focus
      &::placeholder
        color: #fff

.section-title
  h2
    font-size: 36px
    line-height: 1.2
    margin-bottom: 0
section
  padding: 60px 0


//preloader
.sk-chasing-dots
  width: 4em
  height: 4em
  position: relative
  margin: auto
  text-align: center
  animation: sk-chasing-dots-rotate 2s infinite linear

.sk-chasing-dots .sk-child
  width: 2em
  height: 2em
  display: inline-block
  position: absolute
  top: 0
  background-color: $accent
  border-radius: 100%
  animation: sk-chasing-dots-bounce 2s infinite ease-in-out

.sk-chasing-dots .sk-dot-2
  top: auto
  bottom: 0
  animation-delay: -1s


@-webkit-keyframes sk-chasing-dots-rotate
  100%
    transform: rotate(360deg)


@keyframes sk-chasing-dots-rotate
  100%
    transform: rotate(360deg)

@-webkit-keyframes sk-chasing-dots-bounce
  0%, 100%
    transform: scale(0)

  50%
    transform: scale(1)

@keyframes sk-chasing-dots-bounce
  0%, 100%
    transform: scale(0)

  50%
    transform: scale(1)

.preloader
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 1000
  display: flex
  justify-content: center
  align-items: center
  background-color: $accent-creamy
//end preloader


.popup-form
  position: relative
  max-width: 600px
  background-color: #fff
  margin-left: auto
  margin-right: auto
  padding: 35px 45px 50px
  border: 2px solid #000
  border-radius: 10px
  text-align: center
  h3
    font-size: 32px
    text-transform: uppercase

.hidden
  display: none!important

//MY_MFP_ZOOM_IN
.my-mfp-zoom-in
  .zoom-anim-dialog, .popup-form, .video-popup
    opacity: 0
    transition: all 0.5s ease-in-out
    transform: scale(0.7)
  &.mfp-ready .zoom-anim-dialog, &.mfp-ready .popup-form, &.mfp-ready .video-popup
    opacity: 1
    transform: scale(1)
  &.mfp-removing .zoom-anim-dialog, &.mfp-removing .popup-form, &.mfp-removing .video-popup
    transform: scale(0.7)
    opacity: 0
  &.mfp-bg
    opacity: 0
    transition: opacity 0.5s ease-out
  &.mfp-ready.mfp-bg
    opacity: .9
  &.mfp-removing.mfp-bg
    opacity: 0



